Repository Neovici/cosmoz-router: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, check-duplicate-components

Remove preview for PR 252 🛬
  pr/pr-252/assets/cosmoz-router.stories-B1ZJnbhN.js
  pr/pr-252/assets/home-cvUDOFqX.js
  pr/pr-252/assets/iframe-_FUI1R_m.js
  pr/pr-252/assets/view-1-DJDGB1tl.js
  pr/pr-252/assets/view-2-C9A-HA-0.js
  pr/pr-252/assets/view-3-CrJedICF.js
  pr/pr-252/favicon-wrapper.svg
  pr/pr-252/favicon.svg
  pr/pr-252/iframe.html
  pr/pr-252/index.html
  pr/pr-252/index.json
  pr/pr-252/nunito-sans-bold-italic.woff2
  pr/pr-252/nunito-sans-bold.woff2
  pr/pr-252/nunito-sans-italic.woff2
  pr/pr-252/nunito-sans-regular.woff2
  pr/pr-252/project.json
  pr/pr-252/sb-addons/common-manager-bundle.js
  pr/pr-252/sb-common-assets/favicon-wrapper.svg
  pr/pr-252/sb-common-assets/favicon.svg
  pr/pr-252/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-252/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-252/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-252/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-252/sb-manager/globals-module-info.js
  pr/pr-252/sb-manager/globals-runtime.js
  pr/pr-252/sb-manager/globals.js
  pr/pr-252/sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

chore(release): 11.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Notes added by 'git notes add'
  60f74523503685eea9935367c5a60c546e7fd222
Due: none

chore: upgrade storybook to v10 and sync from cosmoz-component template
  .editorconfig
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/preview.yml
  .github/workflows/storybook.yml
  .gitignore
  .storybook/main.js
  package-lock.json
  package.json
  web-dev-server.config.mjs
Due: eslint --cache --fix, prettier --write, check-duplicate-components

Deploy preview for PR 257 🛫
  pr/pr-257/assets/cosmoz-router.stories-Boyu0f4_.js
  pr/pr-257/assets/home-BkLb0nOi.js
  pr/pr-257/assets/iframe-CcT7_c7a.js
  pr/pr-257/assets/view-1-Dw0hsbEA.js
  pr/pr-257/assets/view-2-DD7T9uC2.js
  pr/pr-257/assets/view-3-D6H_Nf0J.js
  pr/pr-257/favicon-wrapper.svg
  pr/pr-257/favicon.svg
  pr/pr-257/iframe.html
  pr/pr-257/index.html
  pr/pr-257/index.json
  pr/pr-257/nunito-sans-bold-italic.woff2
  pr/pr-257/nunito-sans-bold.woff2
  pr/pr-257/nunito-sans-italic.woff2
  pr/pr-257/nunito-sans-regular.woff2
  pr/pr-257/project.json
  pr/pr-257/sb-addons/common-manager-bundle.js
  pr/pr-257/sb-common-assets/favicon-wrapper.svg
  pr/pr-257/sb-common-assets/favicon.svg
  pr/pr-257/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-257/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-257/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-257/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-257/sb-manager/globals-runtime.js
  pr/pr-257/sb-manager/globals.js
  pr/pr-257/sb-manager/manager-stores.js
  pr/pr-257/sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@189e7a225590fd7e5749005a597bba3e65bb74b1 🚀
  assets/cosmoz-router.stories-Boyu0f4_.js
  assets/cosmoz-router.stories-DWh7IA1F.js
  assets/home-BkLb0nOi.js
  assets/home-OPE5I0a0.js
  assets/iframe-BkBBG-Aa.js
  assets/iframe-CcT7_c7a.js
  assets/view-1-BCmJsLEq.js
  assets/view-1-Dw0hsbEA.js
  assets/view-2-DD7T9uC2.js
  assets/view-2-oULMc74F.js
  assets/view-3-D6H_Nf0J.js
  assets/view-3-Djj6yFUu.js
  iframe.html
  project.json
  sb-addons/common-manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@4c571575af2e5fa305d15824ab4c8555138cbf51 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@0401eca818ec8b087de8e699db92a9828bdbfa0f 🚀
  assets/cosmoz-router.stories-B9d6cFkP.js
  assets/cosmoz-router.stories-DWh7IA1F.js
  assets/home-D8Gb6pbi.js
  assets/home-OPE5I0a0.js
  assets/iframe-BBqoRCGK.js
  assets/iframe-BkBBG-Aa.js
  assets/view-1-BCmJsLEq.js
  assets/view-1-NMr4ouCg.js
  assets/view-2-DE5ORVG6.js
  assets/view-2-oULMc74F.js
  assets/view-3-Djj6yFUu.js
  assets/view-3-JpVZlIP8.js
  iframe.html
  project.json
  sb-manager/globals-runtime.js
Due: eslint --cache --fix, prettier --write

feat: migrate from semantic-release to changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploy preview for PR 275 🛫
  pr/pr-275/assets/cosmoz-router.stories-B9d6cFkP.js
  pr/pr-275/assets/home-D8Gb6pbi.js
  pr/pr-275/assets/iframe-BBqoRCGK.js
  pr/pr-275/assets/view-1-NMr4ouCg.js
  pr/pr-275/assets/view-2-DE5ORVG6.js
  pr/pr-275/assets/view-3-JpVZlIP8.js
  pr/pr-275/favicon-wrapper.svg
  pr/pr-275/favicon.svg
  pr/pr-275/iframe.html
  pr/pr-275/index.html
  pr/pr-275/index.json
  pr/pr-275/nunito-sans-bold-italic.woff2
  pr/pr-275/nunito-sans-bold.woff2
  pr/pr-275/nunito-sans-italic.woff2
  pr/pr-275/nunito-sans-regular.woff2
  pr/pr-275/project.json
  pr/pr-275/sb-addons/common-manager-bundle.js
  pr/pr-275/sb-common-assets/favicon-wrapper.svg
  pr/pr-275/sb-common-assets/favicon.svg
  pr/pr-275/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-275/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-275/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-275/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-275/sb-manager/globals-runtime.js
  pr/pr-275/sb-manager/globals.js
  pr/pr-275/sb-manager/manager-stores.js
  pr/pr-275/sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

feat: migrate from semantic-release to changesets (#275)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  .gitignore
  README.md
  package-lock.json
  package.json
Due: prettier --write, check-duplicate-components

Deploying to gh-pages from @ Neovici/cosmoz-router@e5e4e69b1b9aba6ac5062de5cac045152e83bc2b 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@49f32206967fc39fc87a87edf12ee3ee81bb8d0c 🚀
  assets/cosmoz-router.stories-B9d6cFkP.js
  assets/cosmoz-router.stories-BWl291X2.js
  assets/haunted-DNx5qVBO.js
  assets/home-D8Gb6pbi.js
  assets/home-bPmIG3eN.js
  assets/iframe-BBqoRCGK.js
  assets/iframe-L69ah-NK.js
  assets/view-1-Cgn_1A1T.js
  assets/view-1-NMr4ouCg.js
  assets/view-2-DE5ORVG6.js
  assets/view-2-yW0qqK27.js
  assets/view-3-D3EKYLV3.js
  assets/view-3-JpVZlIP8.js
  iframe.html
  index.html
  project.json
  sb-addons/common-manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@d1d54a7827264d92d879e682a31d4e9807fcacf2 🚀
  assets/cosmoz-router.stories-BWl291X2.js
  assets/cosmoz-router.stories-CvJBu_lF.js
  assets/haunted-BCZwPG9U.js
  assets/haunted-DNx5qVBO.js
  assets/home-C8LO5GeY.js
  assets/home-bPmIG3eN.js
  assets/iframe-Bs_S-0TQ.js
  assets/iframe-L69ah-NK.js
  assets/view-1-Cgn_1A1T.js
  assets/view-1-i5F20ZUP.js
  assets/view-2-en3XPrcZ.js
  assets/view-2-yW0qqK27.js
  assets/view-3-BCXry6AE.js
  assets/view-3-D3EKYLV3.js
  iframe.html
  project.json
  sb-addons/common-manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/globals.js
  sb-manager/manager-stores.js
  sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@686e2a950b5460229aefbd09f81742b36d12eabb 🚀
  assets/cosmoz-router.stories-CKqnPDLd.js
  assets/cosmoz-router.stories-CvJBu_lF.js
  assets/haunted-BCZwPG9U.js
  assets/haunted-CXzqagai.js
  assets/home-C8LO5GeY.js
  assets/home-DUkp5Sxt.js
  assets/iframe-Duu7ESaL.js
  assets/view-1-BESjW7RU.js
  assets/view-1-i5F20ZUP.js
  assets/view-2-DctBXp8J.js
  assets/view-2-en3XPrcZ.js
  assets/view-3-BCXry6AE.js
  assets/view-3-BZyS8mjf.js
  iframe.html
  project.json
Due: eslint --cache --fix, prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@20e49dd68e144f70e45582f2c3148bf1a691089d 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@e4a1a3930d3de5cebdebd1cba38210aa6d245c51 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@5c186bfafe624f7dc23e95189ef19cfae6086ee6 🚀
  project.json
Due: prettier --write

Deploy preview for PR 294 🛫
  pr/pr-294/assets/cosmoz-router.stories-CKqnPDLd.js
  pr/pr-294/assets/haunted-CXzqagai.js
  pr/pr-294/assets/home-DUkp5Sxt.js
  pr/pr-294/assets/iframe-Duu7ESaL.js
  pr/pr-294/assets/view-1-BESjW7RU.js
  pr/pr-294/assets/view-2-DctBXp8J.js
  pr/pr-294/assets/view-3-BZyS8mjf.js
  pr/pr-294/favicon-wrapper.svg
  pr/pr-294/favicon.svg
  pr/pr-294/iframe.html
  pr/pr-294/index.html
  pr/pr-294/index.json
  pr/pr-294/nunito-sans-bold-italic.woff2
  pr/pr-294/nunito-sans-bold.woff2
  pr/pr-294/nunito-sans-italic.woff2
  pr/pr-294/nunito-sans-regular.woff2
  pr/pr-294/project.json
  pr/pr-294/sb-addons/common-manager-bundle.js
  pr/pr-294/sb-common-assets/favicon-wrapper.svg
  pr/pr-294/sb-common-assets/favicon.svg
  pr/pr-294/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-294/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-294/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-294/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-294/sb-manager/globals-runtime.js
  pr/pr-294/sb-manager/globals.js
  pr/pr-294/sb-manager/manager-stores.js
  pr/pr-294/sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

fix: ignore codecov uploader artifacts (#294)
  .gitignore
Due: none

Deploying to gh-pages from @ Neovici/cosmoz-router@83fead58cd8af1a5c955fca0c410320f53dd5bcb 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@8ddb3c424d6b24b84b38fbf54196e6d6cfaffcd8 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@253c43cb89c69b03062d8f1e01894e3f516ead2a 🚀
  project.json
Due: prettier --write

Deploying to gh-pages from @ Neovici/cosmoz-router@f028d2ce49e7bb69d0a9b66d1d63b5c7ac1575c4 🚀
  assets/cosmoz-router.stories-CKqnPDLd.js
  assets/cosmoz-router.stories-LIowON1x.js
  assets/haunted-0i2ATdOT.js
  assets/haunted-CXzqagai.js
  assets/home-CuSo3Fl_.js
  assets/home-DUkp5Sxt.js
  assets/iframe-CKebBXYU.js
  assets/iframe-Duu7ESaL.js
  assets/view-1-BESjW7RU.js
  assets/view-1-DheP55u5.js
  assets/view-2-CY_lxGFm.js
  assets/view-2-DctBXp8J.js
  assets/view-3-BWQkEfqt.js
  assets/view-3-BZyS8mjf.js
  iframe.html
  index.html
  project.json
  sb-addons/common-manager-bundle.js
  sb-manager/globals-runtime.js
  sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

feat: allow ignoring a popstate update
  .changeset/quiet-pandas-route.md
  README.md
  src/use-routes.ts
  test/basic.test.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-BNj-pKdN.js
  pr/pr-334/assets/home-DEOGV1Kl.js
  pr/pr-334/assets/iframe-DsMgfSnD.js
  pr/pr-334/assets/iframe-_Lhfhb7a.js
  pr/pr-334/assets/rolldown-runtime-Dh6celcD.js
  pr/pr-334/assets/view-1-VkW77i5X.js
  pr/pr-334/assets/view-2-Bz9RiJeW.js
  pr/pr-334/assets/view-3-D9aa92O-.js
  pr/pr-334/favicon-wrapper.svg
  pr/pr-334/favicon.svg
  pr/pr-334/iframe.html
  pr/pr-334/index.html
  pr/pr-334/index.json
  pr/pr-334/nunito-sans-bold-italic.woff2
  pr/pr-334/nunito-sans-bold.woff2
  pr/pr-334/nunito-sans-italic.woff2
  pr/pr-334/nunito-sans-regular.woff2
  pr/pr-334/project.json
  pr/pr-334/sb-addons/common-manager-bundle.js
  pr/pr-334/sb-common-assets/favicon-wrapper.svg
  pr/pr-334/sb-common-assets/favicon.svg
  pr/pr-334/sb-common-assets/nunito-sans-bold-italic.woff2
  pr/pr-334/sb-common-assets/nunito-sans-bold.woff2
  pr/pr-334/sb-common-assets/nunito-sans-italic.woff2
  pr/pr-334/sb-common-assets/nunito-sans-regular.woff2
  pr/pr-334/sb-manager/globals-runtime.js
  pr/pr-334/sb-manager/globals.js
  pr/pr-334/sb-manager/manager-stores.js
  pr/pr-334/sb-manager/runtime.js
Due: eslint --cache --fix, prettier --write

refactor: expose controlled history traversal
  .changeset/quiet-pandas-route.md
  README.md
  src/use-routes.ts
  test/basic.test.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-BNj-pKdN.js
  pr/pr-334/assets/cosmoz-router.stories-BtchAWJ-.js
  pr/pr-334/assets/home-DEOGV1Kl.js
  pr/pr-334/assets/home-YOWQHwE2.js
  pr/pr-334/assets/iframe-BgXDYDId.js
  pr/pr-334/assets/iframe-CZ5tkd_W.js
  pr/pr-334/assets/iframe-DsMgfSnD.js
  pr/pr-334/assets/view-1-DjOIAz49.js
  pr/pr-334/assets/view-1-VkW77i5X.js
  pr/pr-334/assets/view-2-Bc8ad4oM.js
  pr/pr-334/assets/view-2-Bz9RiJeW.js
  pr/pr-334/assets/view-3-D9aa92O-.js
  pr/pr-334/assets/view-3-Dk1QMXm9.js
  pr/pr-334/iframe.html
  pr/pr-334/project.json
Due: eslint --cache --fix, prettier --write

refactor: track the ignored popstate directly
  src/use-routes.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-BtchAWJ-.js
  pr/pr-334/assets/cosmoz-router.stories-jQG1nW9s.js
  pr/pr-334/assets/home-BdCX7ZqZ.js
  pr/pr-334/assets/home-YOWQHwE2.js
  pr/pr-334/assets/iframe-7ht9MNLE.js
  pr/pr-334/assets/iframe-BgXDYDId.js
  pr/pr-334/assets/iframe-DlMnzN-a.js
  pr/pr-334/assets/view-1-BnvzLxdi.js
  pr/pr-334/assets/view-1-DjOIAz49.js
  pr/pr-334/assets/view-2-Bc8ad4oM.js
  pr/pr-334/assets/view-2-BuuUBhRp.js
  pr/pr-334/assets/view-3-Dk1QMXm9.js
  pr/pr-334/assets/view-3-rsXO1yju.js
  pr/pr-334/iframe.html
  pr/pr-334/project.json
Due: eslint --cache --fix, prettier --write

refactor: mark ignored popstate events
  src/use-routes.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-CdO9Tks6.js
  pr/pr-334/assets/cosmoz-router.stories-jQG1nW9s.js
  pr/pr-334/assets/home-BBv84m1g.js
  pr/pr-334/assets/home-BdCX7ZqZ.js
  pr/pr-334/assets/iframe-7ht9MNLE.js
  pr/pr-334/assets/iframe-DfpwMqoK.js
  pr/pr-334/assets/iframe-Y_-CmkRV.js
  pr/pr-334/assets/view-1-BRhF_fMN.js
  pr/pr-334/assets/view-1-BnvzLxdi.js
  pr/pr-334/assets/view-2-BuuUBhRp.js
  pr/pr-334/assets/view-2-Ckcaarht.js
  pr/pr-334/assets/view-3-BIWaQOkj.js
  pr/pr-334/assets/view-3-rsXO1yju.js
  pr/pr-334/iframe.html
  pr/pr-334/project.json
Due: eslint --cache --fix, prettier --write

fix: keep URL hooks synced during silent traversal
  .changeset/quiet-pandas-route.md
  README.md
  src/use-routes.ts
  test/basic.test.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-CdO9Tks6.js
  pr/pr-334/assets/cosmoz-router.stories-v2TagTaT.js
  pr/pr-334/assets/home-BBv84m1g.js
  pr/pr-334/assets/home-CZD5j3uI.js
  pr/pr-334/assets/iframe-BaaTh2bp.js
  pr/pr-334/assets/iframe-CH5Sgc6e.js
  pr/pr-334/assets/iframe-Y_-CmkRV.js
  pr/pr-334/assets/view-1-BRhF_fMN.js
  pr/pr-334/assets/view-1-BwyODplu.js
  pr/pr-334/assets/view-2-Ckcaarht.js
  pr/pr-334/assets/view-2-De742DOs.js
  pr/pr-334/assets/view-3-BIWaQOkj.js
  pr/pr-334/assets/view-3-CSLyP8lT.js
  pr/pr-334/iframe.html
  pr/pr-334/project.json
Due: eslint --cache --fix, prettier --write

refactor: separate actual and routed URLs
  .changeset/quiet-pandas-route.md
  README.md
  src/use-routes.ts
  test/basic.test.ts
Due: eslint --cache --fix, prettier --write

Deploy preview for PR 334 🛫
  pr/pr-334/assets/cosmoz-router.stories-D8qveJzp.js
  pr/pr-334/assets/cosmoz-router.stories-v2TagTaT.js
  pr/pr-334/assets/home-C44IFxK_.js
  pr/pr-334/assets/home-CZD5j3uI.js
  pr/pr-334/assets/iframe-BaaTh2bp.js
  pr/pr-334/assets/iframe-CKhhKGxj.js
  pr/pr-334/assets/iframe-CmdH-gsY.js
  pr/pr-334/assets/view-1-BwyODplu.js
  pr/pr-334/assets/view-1-DuR4iSln.js
  pr/pr-334/assets/view-2-CvCULjit.js
  pr/pr-334/assets/view-2-De742DOs.js
  pr/pr-334/assets/view-3-C7iIu_FA.js
  pr/pr-334/assets/view-3-CSLyP8lT.js
  pr/pr-334/iframe.html
  pr/pr-334/project.json
Due: eslint --cache --fix, prettier --write

refactor: return only the routed URL
  .changeset/quiet-pandas-route.md
  README.md
  src/use-routes.ts
  test/basic.test.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,mjs,cjs}
  prettier --write: any of: *.{js,ts,json,css,md}
  check-duplicate-components: any of: package-lock.json
